{% extends "base.html" %}
{% load static %}
{% block title %}
  BookCrossing - Подробная информация о книге
{% endblock %}

{% block content %}

   <div class="container mt-5">
    <div class="row">
      {% if book.image %}
                    <img src="{% static book.image %}" alt="{{ book.title }}"
                         class="img-fluid">
                {% else %}
                    <img src="{% static '/img/no-image.jpg' %}" alt="{{ book.title }}"
                         class="img-fluid">
                {% endif %}
      <div class="col-md-8">
        <h1>{{ book.title }}</h1>
        <h4>{{ book.author }}</h4>
        <p class="text-muted">Категории</p>
        <p>Год создания: {{ book.year }}</p>
        <p>ISBN: {{ book.ISBN }}</p>
        <h4>Описание:</h4>
        <p>{{ book.description|linebreaksbr }}</p>
        <h4>Местоположение:</h4>
        <p>{{ book.place }}</p>
        <h5>Категории:</h5>
        {% for category in book.category %}
        <a href= # >{{ category }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}