{% extends 'base.html' %}

{% load static %}

{% block title %}BookCrossing - Информация о категориях{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Информация о категориях</h1>
        <div class="row">
            {% for category in categoties %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="card-text">Описание категории 1.</p>
                            <p class="card-text">Количество книг из этой категории:
                                10</p>
                            <a href="category.html"
                               class="btn btn-primary">Просмотреть</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock content %}
